.wrapper {
	width: 600px;
	margin: calc(50vh - 150px) auto;
}

.slider-container {
	overflow: hidden;
	background-color: pink;
}

.slider-track {
	display: flex;
	background-color: yellow;
	transition: .3s;
}

.slider-item {
	height: 300px;
}

.slider-item:nth-of-type(3n+1) {background-color: red;}
.slider-item:nth-of-type(3n+2) {background-color: green;}
.slider-item:nth-of-type(3n+3) {background-color: blue;}

.slider-buttons {
	text-align: center;
}

button:disabled {
	color: grey;
}